{% extends "chat/base.html" %}
{% block content %}

<style media="screen">
    #cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}



</style>

<div id="cover-spin"><h2 align="center" class="mt-5"><b>Please Wait...</b></h2></div>

      <div class="container mt-3">

          <div class="jumbotron" align="center">
            <h1 class="display-4">My Mini Space <i class="fas fa-globe-americas"></i></h1>
            <p class="lead"><i>"I am a Lost Boy from Neverland Usually hanging out with Peter Pan"</i></p>
            <hr class="my-4">
            <p>Hi! <b>{{request.user.username}}</b> Start Communicating...</p>
            <p class="lead">

              {% if user.is_authenticated %}
              <a class="btn btn-primary btn-lg mt-1" href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter">Enter Code</a>
              <a class="btn btn-warning btn-lg mt-1" href="{% url 'chat:newchat' %}" role="button">Start Chat</a>
              <a class="btn btn-success btn-lg mt-1" href="#" role="button">My Chat</a>
              <br>
              <!-- <form id="searchform" class="search-bar mb-3" action="{% url 'chat:autocomplete' %}">
               <div class="position-relative col-3">
                   <input type="text" class="form-control form-control-light" name="mysearch" placeholder="People, groups & messages" id="mysearch">
                   <input type="hidden" name="mysearchid" value="" id="mysearchid">
                   <span class="mdi mdi-magnify"></span>
               </div>
           </form> -->
              {% else %}
              <a class="btn btn-success btn-lg mt-1" href="#" role="button" data-toggle="modal" data-target="#loginModal">Login</a>
              {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'chat:logout' %}">Logout</a>
            {% else %}
            {% endif %}
          </div>

          <table class="table table-bordered border mt-2">
            <thead  class="table-dark">
              <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-3">Code</th>
                <th scope="col" class="col-6">Members</th>
                <th scope="col" class="col-2">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for ch in chlist %}
              <tr id="{{ch.code}}">
                <th scope="row">1</th>
                <td><a href="{% url 'chat:room' ch.code %}">{{ch.code}}</a></td>
                <td>{% for user in ch.members.all %}{{user}}, {% endfor %}</td>
                <td><a class="btn btn-danger btn-sm" href="#" onclick="leave('{{ch.code}}');" role="button">Leave</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

      </div>

      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  align="center">
          <form class="form-inline" method="POST">
              {% csrf_token %}
           <div class="form-group mx-sm-3 mb-2">
             <label for="inputPassword2" class="sr-only">Code</label>
             <input type="email" class="form-control" name="email" id="inputEmail" placeholder="example@abc.com">
           </div>
           <button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button>
         </form>
      </div>
    </div>
  </div>
</div>


      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter Meeting Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  align="center">
          <form id="searchform" class="search-bar form-inline" >
              <input type="hidden" name="mysearchid" value="" id="mysearchid">
           <div class="position-relative col-8">
             <label for="inputPassword2" class="sr-only">Code</label>
             <input type="text" class="form-control form-control-light" name="mysearch" placeholder="People, groups & messages" id="inputcode">

           </div>
           <button type="button" onclick="check();" class="btn btn-primary mb-2 ml-2">Enter</button>
         </form>

         <!-- <form id="searchform" class="search-bar mb-3" action="{% url 'chat:autocomplete' %}">
          <div class="position-relative col-8">
              <input type="text" class="form-control form-control-light" name="mysearch" placeholder="People, groups & messages" id="mysearch">
              <input type="hidden" name="mysearchid" value="" id="mysearchid">
             <button type="button" onclick="check();" class="btn btn-primary mb-2 ml-2">Enter</button>
          </div>
      </form> -->
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">

    {% if request.user.is_authenticated %}
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    chatSocket = new WebSocket(ws_scheme+'://' +window.location.host +'/ws/request/{{request.user.username}}/');

    function leave(val){
            fetch('/leavegroup/'+val).then(res=>res.json())
            .then(data=>{
                if (data.status == "200"){
                    document.getElementById(val).style.display = "none";
                }
                else{
                    alert("Some error occured. Try again");
                }
            });
    }

    function check(){
        document.getElementById("cover-spin").style.display = "block";
        val = document.getElementById("inputcode").value;
        fetch('/checkgroup/'+val).then(res=>res.json())
        .then(data=>{
            if (data.status == "200"){
                window.location = "/chat/"+val;
            }
        });
        }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);
        if (data.result == "true"){
            window.location = "/chat/"+data.code;
        }
        else{
            document.getElementById("cover-spin").style.display = "none";
            alert("Your request is denied.")
        }

    }

    $("#inputcode").autocomplete({
    source:'{% url 'chat:autocomplete' %}',
    focus: function( event, ui ) {
          $( "#inputcode" ).val( ui.item.label );
             return false;
       },
       select: function( event, ui ) {
          $( "#inputcode" ).val( ui.item.label );
          $( "#mysearchid" ).val( ui.item.value );
          return false;
       }
});

$( "#inputcode" ).autocomplete( "option", "appendTo", "#searchform" );

document.getElementsByClassName("ui-helper-hidden-accessible")[0].style.display = "none";
{% endif %}
</script>
{% endblock content %}
