{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Mini World</title>
<link rel = "icon" href = "https://cdn.icon-icons.com/icons2/806/PNG/512/chat-26_icon-icons.com_65943.png" type = "image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Chivo&family=Staatliches&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Varela+Round&display=swap" rel="stylesheet">


<link rel="stylesheet" href="{% static 'chat/css/main.css' %}">
<style type="text/css">


.sidebar li .submenu{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}


.navbar-nav {
	margin-left: auto;
}
.nav-item{
	text-decoration: none;
	background-color: transparent !important;
}

</style>


</head>
<body style="background-color:#1c2138;">



<div class="container">
	<nav class="navbar navbar-expand-lg" style="border-radius:10px;background-color:#1c2138;border-style: solid;border-color:#ffec3d;font-family: 'Raleway', sans-serif;">
	<div class="container-fluid">
	<a class="navbar-brand" href="" style="margin-left:60px;font-size:30px;"><img src="https://cdn.icon-icons.com/icons2/806/PNG/512/chat-26_icon-icons.com_65943.png" alt="" style="width:40px;color:#2394eb;"> Mini World</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" >
	<h2><i class="fas fa-bolt" style="color:white;"></i></h2>

	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

	<ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown mr-2" id="active_link" >
			  <a class="nav-link" style="margin-right: 20px;color:#ff0a58;font-size:20px;" href="#" role="button" data-bs-toggle="modal" data-bs-target="#instModal" >
			<i class="fas fa-info-circle" disabled></i> Info
		  </a>
		</li>
		<li class="nav-item dropdown mr-2" id="active_link" style="">
			  <a class="nav-link" style="margin-right: 20px;color:#63ff33;font-size:20px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
			<i class="fas fa-plus" disabled></i> Add
		  </a>
		  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createRoomModal"><i class="far fa-comment-dots" style="margin-right:10px;"></i> Start Chat</a></li>
			 <li><a class="dropdown-item" href="#"><i class="far fa-keyboard" style="margin-right:10px;"></i>Enter Code</a></li>
			 <li><a class="dropdown-item" href="#">Something else here</a></li>
		  </ul>
		</li>
	  <li class="nav-item dropdown mr-2" id="active_link" >
			<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;color:#27e6e2;font-size:20px;">
		  <span class="dot"></span> Active
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
		  <li><hr class="dropdown-divider"></li>
		  <li><a class="dropdown-item" href="#" onclick="logout();">Logout</a></li>
		</ul>
	  </li>
	</ul>
	<form class="d-flex">
	  <input type="hidden" name="mysearchid" value="" id="mysearchid">
	  <input class="form-control ui-widget me-2" type="search" name="mysearch" id="inputcode" placeholder="Search" aria-label="Search">
	  <button class="btn btn-outline-success" type="button" onclick="searchGroup();">Search</button>
	</form>
	</div>
	</div>
	</nav>
	<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
	<div id="primary_toast" class="toast hide text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" id="primary_toast_msg">

	</div>

	</div>
	</div>

	<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
	<div id="success_toast" class="toast hide text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" id="success_toast_msg">

	</div>

	</div>
	</div>

	<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
	<div id="danger_toast" class="toast hide text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" id="danger_toast_msg">

	</div>

	</div>
	</div>

	<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
	<div id="warning_toast" class="toast hide text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" id="warning_toast_msg">

	</div>

	</div>
	</div>


	<div id="cover-spin"><h2 align="center" class="mt-5"><b>Please Wait...<br>While someone accepts your request.</b></h2></div>
	<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="searchModalLabel">Enter Room</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body" id="searchModalbody">

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" onclick="enterGroup();">Enter</button>
		  </div>
		</div>
		</div>
	</div>

	<div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="inviteModalLabel">Enter Email Id</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body" id="inviteModalbody">
			  <input class="form-control" type="email" id="inviteemail" name="" value="">
			  <input type="hidden" id="invitecode" name="invitecode" value="">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" onclick="invite();">Invite</button>
		  </div>
		</div>
		</div>
	</div>

	<div class="modal fade" id="instModal" tabindex="-1" aria-labelledby="instModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="instModalLabel">Instructions</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body" >
			  <ul>
			  	<li>Create new room using <b> +Add > Start Chat </b> in navbar.</li>
				<li>Find rooms by entering room name in search field in navbar.</li>
				<li>Your chat rooms are available in <b>sidebar > My Chat</b> box </li>
			  </ul>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  </div>
		</div>
		</div>
	</div>

		<div class="modal fade" id="createRoomModal" tabindex="-1" aria-labelledby="createRoomModal" aria-hidden="true">
		  <div class="modal-dialog  modal-dialog-centered">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="createRoomModal">Create Room</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <form >
				  <div class="modal-body">
					  <div class="mb-3">
						  <label for="room_name" class="form-label">Room Name</label>
						  <input type="text" class="form-control" id="groupName" aria-describedby="emailHelp">
						  <div id="emailHelp" class="form-text">Choose some funky names</div>
						</div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" data-bs-dismiss="modal" aria-label="Close" onclick="makeGroup();" class="btn btn-primary">Create</button>
				  </div>
			  </form>

			</div>
		  </div>
		</div>
<section class="section-content py-3">
<div class="row">
	<aside class="col-lg-3">
<!-- ============= COMPONENT ============== -->
<nav class="sidebar card py-2 mb-4 p-4" style="height:650px;border-radius:10px;background-color:#1c2138;border-style: solid;border-color:#ffec3d;font-family: 'Varela Round', sans-serif;" >
<div class="" style="border: 2px solid #bab5b5;padding: 5px;border-radius: 25px;" >
    <h4 align="center" style="color:white;" class="border-bottom">My Chats</h4>
    <ul class="nav flex-column" id="chatlist" >
        {% for chat in chlist %}
    	<li class="nav-item" align="center" id="{{chat.code}}">
    		<a class="nav-link" onclick="startChat('{{chat.code}}','{{chat.name}}');" href="#" style="color:white;border-bottom:"># <u>{{chat.name}}</u> </a>
    	</li>
         {% endfor %}
    </ul>
</div>

<div class="" style="border: 2px solid #bab5b5;padding: 5px;border-radius: 25px;margin-top:20px;" >
    <h4 align="center" style="color:white;">Waiting Lobby</h4>
    <ul class="nav flex-column" id="lobby" >

    </ul>
</div>



</nav>
<!-- ============= COMPONENT END// ============== -->
		</aside>
		<main class="col-lg-9" style="">
            <div class="card" style="display:block;height:600px;border-radius:10px;background-color:#1c2138;border-style: solid;border-color:#ffec3d;" id="landing">
                <h1 style="color:#ffb917;padding: 130px 0;font-family: 'Staatliches', cursive;font-size:80px;" align="center">CHAT. &nbsp;&nbsp; EXPLORE.</h1>
                <h4 style="color:#19c6ff;font-family: 'Chivo', sans-serif;" align="center">“I love to talk about nothing. It's the only thing I know anything about.” <br>
― Oscar Wilde </h4>
            </div>
            <div class="card" style="display:none;height:650px;background-color:#1c2138;border-style: solid;border-color:#ffec3d;" id="convo">
				<h3 id="groupName2" style="padding:5px;color:white;" align="center">Group Name </h3>
                <div class="container" >

					<ul class="nav nav-pills mt-2 border-bottom" id="pills-tab" role="tablist">

					  <li class="nav-item" role="presentation">
						<button class="nav-link active text-white" id="pills-chat-tab" data-bs-toggle="pill" data-bs-target="#pills-chat" type="button" role="tab" aria-controls="pills-chat" aria-selected="true">Chat</button>
					  </li>
					  <li class="nav-item" role="presentation">
						<button class="nav-link text-white" id="pills-files-tab" data-bs-toggle="pill" data-bs-target="#pills-files" type="button" role="tab" aria-controls="pills-files" aria-selected="false"><strong>Files</strong></button>
					  </li>
					  <li class="nav-item" role="presentation">
						<button class="nav-link text-white" id="pills-members-tab" data-bs-toggle="pill" data-bs-target="#pills-members" type="button" role="tab" aria-controls="pills-members" aria-selected="false"><strong>Members</strong></button>
					  </li>
					  <li class="nav-item" role="presentation">
						<button class="nav-link text-white" id="pills-online-tab" data-bs-toggle="pill" data-bs-target="#pills-online" type="button" role="tab" aria-controls="pills-online" aria-selected="false"><strong>Online</strong></button>
					  </li>
					  <li class="nav-item" role="presentation">
						<button class="nav-link text-white" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="false"><strong>Info</strong></button>
					  </li>

					  <li class="">
							 <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							   <i class="fas fa-cogs"></i>
							 </button>
							 <ul class="dropdown-menu">
							   <li><a href="#" class="dropdown-item" onclick="delMessage(-1);" ><i class="fas fa-trash" style="margin-right:15px;"></i> Clear Chat</a></li>
							    <li><a href="#"  class="dropdown-item" id="groupleave" ><i class="fas fa-arrow-left" style="margin-right:10px;"></i> Leave Group</a></li>
								<li><a href="#"  class="dropdown-item" id="groupinvite"><i class="fas fa-at" style="margin-right:10px;"></i> Invite Via email</a></li>
							 </ul>
					  </li>

					</ul>
					<hr>

                     <div class="tab-content" id="pills-tabContent">
                       <div class="tab-pane fade show active" id="pills-chat" role="tabpanel" aria-labelledby="pills-chat-tab">
                           <div class="position-relative">

                           <div class="chat-messages p-4" id="chat_body">

                           </div>
                       </div>

                       <div class="flex-grow-0 py-3 px-4 border-top">
                           <div class="row">
                               <div class="col-9">
                                    <textarea class="form-control" name="name" rows="2" cols="80" id="btn-input" placeholder="Type your message"></textarea>
                               </div>
                               <div class="col-3">
                             <input type="file" name="file" id="myfile"  multiple>
                              <button class="btn btn-primary mt-2" id="btn-chat">Send</button>
                               </div>
                           </div>


                       </div>

                        </div>
                  <div class="tab-pane fade" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                      <div class="text-white" align="center">
                          <h3><u>Meeting Details</u></h3>
                          <h4><strong>Code : </strong><span id="room_code_info"></span></h4>

                          <br>
                          <div id="example" align="center" style="border-color:#d42292;"></div>

                          <p>Scan the code above</p>
                          <h3>OR</h3>
                          <p>Use meeting link</p>
                          <a href="" id="room_link" target="_blank"></a>
                      </div>

                 </div>
                       <div class="tab-pane fade" id="pills-files" role="tabpanel" aria-labelledby="pills-files-tab">

                       <table class="table text-white">
                         <thead>
                           <tr>
                             <th scope="col">#</th>
                             <th scope="col">Sender</th>
                             <th scope="col">File</th>
                             <th scope="col">Date</th>
                             <th scope="col">Action</th>
                           </tr>
                         </thead>
                         <tbody id="fileslist" class="text-white">
                           <tr>
                             <th scope="row">1</th>
                             <td>Mark</td>
                             <td>image.jpg</td>
                             <td>13 April 2021</td>
                             <td><a href="#">Download</a></td>
                           </tr>

                         </tbody>
                       </table>
                       </div>
                       <div class="tab-pane fade" id="pills-members" role="tabpanel" aria-labelledby="pills-members-tab">
                           <table class="table text-white">
                             <thead>
                               <tr>
                                 <th scope="col">#</th>
                                 <th scope="col">Name</th>
                                 <th scope="col">Action</th>
                               </tr>
                             </thead>
                             <tbody id="memberslist">


                             </tbody>
                           </table>
                       </div>

                       <div class="tab-pane fade" id="pills-online" role="tabpanel" aria-labelledby="pills-online-tab">
                           <table class="table text-white">
                             <thead>
                               <tr>
                                 <th scope="col">#</th>
                                 <th scope="col">Members</th>
                                 <th scope="col">Action</th>
                               </tr>
                             </thead>
                             <tbody id="onlinelist">

                             </tbody>
                           </table>
                       </div>
                     </div>
                </div>

            </div>

		</main>
	</div>
</section>

</div><!-- container //  -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	  crossorigin="anonymous">
</script>


{{ user.username|json_script:"user_username" }}


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="{% static 'chat/js/jquery.qrcode.min.js' %}"></script>

  <script type="text/javascript">

    const csrf_token = '{{ csrf_token }}';
    const user_username = JSON.parse(document.getElementById('user_username').textContent);
    // const getFormJSON = (form) => {
    //   const data = new FormData(form);
    //   return Array.from(data.keys()).reduce((result, key) => {
    //     result[key] = data.get(key);
    //     return result;
    //   }, {});
    // };

    var chatSocket=null;
    var room_code = null;
	window.onload = function() {
  $('#instModal').modal('show');
};

	function play() {
	  var audio = new Audio('https://fsb.zobj.net/download/b-2Zm5rq55wKFJGjC-Rbqu5mgoyjS5LllDNDILAwKcmkq0XdzzUnx1j1MWEFKtsEOzsviSb6wvexZ42e3FAI5fqWFUMHQIkZeNDkyWhMTqKgZM_yxPlehPZYvZwA/?a=&c=72&f=notification.mp3');
	  audio.play();
	}

    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
       document.getElementById("convo").classList.toggle("dark-mode");
    }

    var toast_btn =
    `<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>`
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    if (user_username!=''){
        userSocket = new WebSocket(ws_scheme+'://' +window.location.host +'/ws/request/{{user.username}}/');
        userSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.result == "true"){
                startChat(val,grpName);
                document.getElementById("cover-spin").style.display = "none";
                $('#searchModal').modal('hide');
                document.getElementById("chatlist").innerHTML=
                `<li class="nav-item border-bottom" align="center" id="${val}">
	        		<a class="nav-link" onclick="startChat('${val}','${groupName}');" href="#"># ${grpName} </a>
	        	</li>
                `+ document.getElementById("chatlist").innerHTML;
            }
            else{
                document.getElementById("cover-spin").style.display = "none";
                alert("Your request is denied.")
            }

        }
    }

    function show_danger_toast(msg){
        document.getElementById('danger_toast_msg').innerHTML = msg+` <i class="fas fa-exclamation-triangle"></i>`  + toast_btn;
        $('#danger_toast').toast('show');
    }

    function show_primary_toast(msg){
        document.getElementById('primary_toast_msg').innerHTML = msg+` <i class="fas fa-check-circle"></i>` + toast_btn;
        $('#primary_toast').toast('show');
    }

    function show_warning_toast(msg){
        document.getElementById('warning_toast_msg').innerHTML = msg;
        $('#warning_toast').toast('show') + toast_btn;
    }

    function show_success_toast(msg){
        document.getElementById('success_toast_msg').innerHTML = msg;
        $('#success_toast').toast('show') + toast_btn;
    }

    function stopChat(){
        document.getElementById("landing").style.display = "block";
        document.getElementById("convo").style.display = "none";
        document.getElementById("groupName2").textContent = " ";
        if (chatSocket !=null){
            chatSocket.close();
        }
        document.getElementById("chat_body").innerHTML='';
        document.getElementById("fileslist").innerHTML='';
        document.getElementById("memberslist").innerHTML='';
        document.getElementById("onlinelist").innerHTML='';
    }
	function scrollTo(){
		$("#chat_body").scrollTop($("#chat_body")[0].scrollHeight);
	}
    function startChat(roomCode,groupName){
        if (roomCode != null)
        {

            room_code = roomCode;
            stopChat();
            document.getElementById("landing").style.display = "none";
            document.getElementById("convo").style.display = "block";
            document.getElementById("groupName2").textContent = " "+groupName;

            $('#example').qrcode({
              text: 'https://' +window.location.host +'/chat/'+roomCode,
              width: 100,
              height: 100,
            });
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            document.getElementById('room_code_info').textContent = roomCode;
            document.getElementById("room_link").textContent = 'https://' +window.location.host +'/chat/'+roomCode;
            document.getElementById("room_link").href = window.location.host +'/chat/'+roomCode;
			document.getElementById("groupleave").addEventListener("click", function() {
              	leavegroup(roomCode);
            });
			document.getElementById("groupinvite").addEventListener("click", function() {
              	showinvite(roomCode);
            });
            chatSocket = new WebSocket(ws_scheme+'://' +window.location.host +'/ws/chat/' +roomCode +'/');
            fetch("{% url 'chat:getMessages' %}?grpcode="+roomCode).then(res=>res.json())
            .then(data=>{
                    if (data.status ==200){
                        var i;
                        for (i = 0; i < data.msgs.length; i++) {
                            if (data.msgs[i].type == "INFO"){
                                document.getElementById('chat_body').innerHTML+=
                                `
                                <small align="center" style="margin-top:5px;text-align:center;color:white;">${data.msgs[i].content}</small>
                                `

                            }
                            else if (data.msgs[i].file){
                                if ( data.msgs[i].user != {{user.id}})
                                {
                                    document.getElementById('chat_body').innerHTML+=
                                   `
                                   <div class="chat-message-left pb-4">
                                       <div>
                                           <img src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png" class="rounded-circle mr-1" alt="${data.msgs[i].username}" width="40" height="40">
                                           <div class="text-muted small text-nowrap mt-2">2:34 am</div>
                                       </div>
                                       <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                           <div class="font-weight-bold mb-1">${data.msgs[i].username}</div>
                                           <a href="http://${window.location.host}/downloadfile/${data.msgs[i].id}"  target="_blank"><i class="fas fa-file-download"></i></a> ${data.msgs[i].file}
                                       </div>
                                   </div>
                                   `
                                }
                                else{
                                    document.getElementById('chat_body').innerHTML+=
                                    `
                                    <div class="chat-message-right pb-4" >
                						<div>
                							<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="rounded-circle mr-1" alt="${data.msgs[i].username}" width="40" height="40">
                							<div class="text-muted small text-nowrap mt-2">2:33 am</div>
                						</div>
                						<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                							<div class="font-weight-bold mb-1"><b>You</b></div>
                							<a href="http://${window.location.host}/downloadfile/${data.msgs[i].id}"  target="_blank"><i class="fas fa-file-download"></i></a>  ${data.msgs[i].file}
                						</div>
                					</div>
                                    `
                                }
                            }
                            else{
                                if ( data.msgs[i].user != {{user.id}})
                                {
                                     document.getElementById('chat_body').innerHTML+=
                                    `
                                    <div class="chat-message-left pb-4" style="max-width:400px;">
                                        <div>
                                            <img src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png" class="rounded-circle mr-1" alt="${data.msgs[i].username}" width="40" height="40">
                                            <div class="text-muted small text-nowrap mt-2">2:34 am</div>
                                        </div>
                                        <div class="flex-shrink-1 rounded py-2 px-3 ml-3" style="background-color:#383f61;color:white;margin-left:10px;">
                                            <div class="font-weight-bold mb-1"><b>${data.msgs[i].username}</b></div>
                                            <small>${data.msgs[i].content}</small>
                                        </div>
                                    </div>

                                    `
                                }
                                else{
                                    document.getElementById('chat_body').innerHTML+=
                                    `
                                    <div class="chat-message-right pb-4" style="max-width:400px;background-color:#1c2138;">
                						<div>
                							<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="rounded-circle mr-1" alt="${data.msgs[i].id}" width="40" height="40">
                							<div class="text-muted small text-nowrap mt-2">2:33 am</div>
                						</div>
                						<div class="flex-shrink-1 rounded py-2 px-3 mr-3" style="background-color:#383f61;color:white;margin-right:10px;">
                							<div class="font-weight-bold mb-1"><b>You</b></div>
                							<small>${data.msgs[i].content}</small>
                						</div>
                					</div>
                                    `
                                }
                            }

                        }
                        for (i = 0; i < data.files.length; i++) {
                            document.getElementById("fileslist").innerHTML+=
                            `
                            <tr>
                              <th scope="row"><i class="fas fa-arrow-right"></i></th>
                              <td>${data.files[i].username}</td>
                              <td>${data.files[i].file}</td>
                              <td>${data.files[i].created_on}</td>
                              <td><a href="http://${window.location.host}/downloadfile/${data.msgs[i].id}"  target="_blank"><i class="fas fa-file-download"></i> Download</a></td>
                            </tr>
                            `
                        }
                        for (i = 0; i < data.members.length; i++) {
                            document.getElementById("memberslist").innerHTML+=
                            `
                            <tr>
                              <th scope="row"><i class="fas fa-arrow-right"></i></th>
                              <td>${data.members[i].username}</td>
                              <td><a href="#">Start Chat</a></td>
                            </tr>
                            `
                        }
                        // alert(data.online.length)
                        for (i = 0; i < data.online.length; i++) {
                            document.getElementById("onlinelist").innerHTML+=
                            `
                            <tr id="${data.online[i].username}">
                              <th scope="row"><i class="fas fa-arrow-right"></i></th>
                              <td>${data.online[i].username}</td>
                              <td><a href="#">Start Chat</a></td>
                            </tr>
                            `
                        }
                        document.querySelector('#btn-chat').onclick = function (e) {
                            const messageInputDom = document.getElementById('btn-input');
                            const message = messageInputDom.value;

                             const files = document.querySelector('[type=file]').files
                             if (files.length > 0)
                             {
                                 const formData = new FormData()
                                 formData.append('csrfmiddlewaretoken', csrf_token)
                                 for (let i = 0; i < files.length; i++) {
                                     let file = files[i]
                                     formData.append('myfile[]', file)
                                 }
                                 formData.append("room_code",room_code);
                                 formData.append("username","{{user.username}}");
                                 fetch("{% url 'chat:uploadmsg' %}", {method: "POST", body: formData}).then(res=>res.json())
                                 .then(data=>{
                                     chatSocket.send(JSON.stringify({
                                         'file_ids':data.file_ids,
                                         "file_names":data.file_names,
                                         'file_sizes':data.file_sizes,
                                         'username': user_username,
                                     }));
                                      document.getElementById("myfile").value = "";
                                 });

                             }
                             else{
                                 chatSocket.send(JSON.stringify({
                                     'message': message,
                                     'username': user_username,
                                 }));
                                 messageInputDom.value = '';
                             }
							 $("#chat_body").scrollTop($("#chat_body")[0].scrollHeight);
                        };

                        chatSocket.onmessage = function (e) {
                            const data = JSON.parse(e.data);
                            console.log(data);
                            // document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n');
                            if (data.message){

                                if (data.type == 'INFO'){
                                    document.getElementById('chat_body').innerHTML+=
                                    `
                                    <small align="center" style="margin-top:5px;">${data.msgs[i].content}</small>
                                    `
                                }
                            else{
                                if (user_username != data.username)
                                {
                                     document.getElementById('chat_body').innerHTML+=
                                    `
                                    <div class="chat-message-left pb-4" style="max-width:400px;">
                                        <div>
                                            <img src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png" class="rounded-circle mr-1" alt="${data.username}" width="40" height="40">
                                            <div class="text-muted small text-nowrap mt-2">2:34 am</div>
                                        </div>
                                        <div class="flex-shrink-1 rounded py-2 px-3 ml-3" style="background-color:#383f61;color:white;margin-left:10px;">
                                            <div class="font-weight-bold mb-1"><b>${data.username}</b></div>
                                            <small>${data.message}</small>
                                        </div>
                                    </div>
                                    `
                                }
                                else{
                                    document.getElementById('chat_body').innerHTML+=
                                    `
                                    <div class="chat-message-right pb-4" style="max-width:400px;">
                                        <div>
                                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="rounded-circle mr-1" alt="${data.username}" width="40" height="40">
                                            <div class="text-muted small text-nowrap mt-2">2:33 am</div>
                                        </div>
                                        <div class="flex-shrink-1 rounded py-2 px-3 mr-3" style="background-color:#383f61;color:white;margin-right:10px;">
                                            <div class="font-weight-bold mb-1"><b>You</b></div>
                                            <small>${data.message}</small>
                                        </div>
                                    </div>
                                    `
                                }
                            }

                            }
                            else if (data.file_ids){
                                for (let i = 0; i < data.file_ids.length; i++) {
                                    document.getElementById("fileslist").innerHTML+=
                                    `
                                    <tr>
                                      <th scope="row">${i+1}</th>
                                      <td><b>${data.username}</b></td>
                                      <td>${data.file_names[i]}</td>
                                      <td>Today</td>
                                      <td><a href="http://${window.location.host}/downloadfile/${data.file_ids[i]}"  target="_blank"><i class="fas fa-file-download"></i> Download</a></td>
                                    </tr>
                                    `
                                    if (user_username != data.username)
                                    {
                                        document.getElementById('chat_body').innerHTML+=
                                       `
                                       <div class="chat-message-left pb-4">
                                           <div>
                                               <img src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png" class="rounded-circle mr-1" alt="${data.username}" width="40" height="40">
                                               <div class="text-muted small text-nowrap mt-2">2:34 am</div>
                                           </div>
                                           <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                               <div class="font-weight-bold mb-1"><b>${data.username}</b></div>
                                               <a href="http://${window.location.host}/downloadfile/${data.file_ids[i]}"  target="_blank"><i class="fas fa-file-download"></i></a> ${data.file_names[i]}
                                           </div>
                                       </div>
                                       `
                                    }
                                    else{
                                        document.getElementById('chat_body').innerHTML+=
                                        `
                                        <div class="chat-message-right pb-4">
                    						<div>
                    							<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="rounded-circle mr-1" alt="${data.username}" width="40" height="40">
                    							<div class="text-muted small text-nowrap mt-2">2:33 am</div>
                    						</div>
                    						<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                    							<div class="font-weight-bold mb-1"><b>You</b></div>
                    							<a href="http://${window.location.host}/downloadfile/${data.file_ids[i]}"  target="_blank"><i class="fas fa-file-download"></i></a>  ${data.file_names[i]}
                    						</div>
                    					</div>
                                        `
                                    }
                                }
                            }
                            else if (data.del_msg_id){
                                if (data.del_msg_id == -1){
                                    document.getElementById("fileslist").innerHTML='';
                                    document.getElementById("chat_body").innerHTML='';
                                    alert("All Messages deleted!");
                                }
                                else{
                                    document.getElementById(data.del_msg_id).style.display = "none";
                                }
                            }
                            else if(data.action!=null){
                                if (data.action){
                                    var el = document.getElementById(data.username);
                                    if (el != null) {
                                        document.getElementById(data.username).style.display = "block";
                                    } else {

                                        document.getElementById("onlinelist").innerHTML+=
                                        `
                                        <tr id="${data.username}">
                                          <th scope="row"><i class="fas fa-arrow-right"></i></th>
                                          <td><b>${data.username}</b></td>
                                          <td><a href="#">Start Chat</a></td>
                                        </tr>
                                        `
                                    }
                                }
                                else{

                                    document.getElementById(data.username).remove();
                                }
                            }

                            else if(data.request){
								play();
                                document.getElementById("lobby").innerHTML=
                                `<li class="nav-item border-bottom" align="center" id="${data.username}_req" >

					        		<a class="nav-link" href="#" style="display: inline;color:white;"># <b>${data.username}</b> </a>
									<a style="float:right;color:red;display: inline;margin-left:5px;" href="#" onclick="reqaction('${data.username}',false)"> <i class="fas fa-times" style="font-size:15px; margin-right:5px;"></i> Cancel</a>
									<a style="float:right;color:green;display: inline;" href="#" onclick="reqaction('${data.username}',true)"><i class="fas fa-check" style="font-size:20px;margin-left:15px;"></i> Allow</a>

					        	</li>
                                `+ document.getElementById("lobby").innerHTML;
                            }
							else if (data.remove){
								document.getElementById(`${data.username}_req`).remove();
							}
							scrollTo();
                            };
                    }
                    else{
                        document.getElementById('danger_toast_msg').innerHTML = "Some error occured. Please try again"+` <i class="fas fa-exclamation-triangle"></i>` ;
                        $('#danger_toast').toast('show');
                    }

            });




        }
    }

    {% if ischat %}
        document.getElementById("mysearchid").value = "{{code}}";
        document.getElementById('inputcode').value = "{{name}}";
        searchGroup();
    {% endif %}

    function delMessage(val){
        if (chatSocket){
            chatSocket.send(JSON.stringify({
            "del_msg_id" : val
            }));
        }
    }


    function getCookie(name) {
       let cookieValue = null;
           if (document.cookie && document.cookie !== '') {
               const cookies = document.cookie.split(';');
               for (let i = 0; i < cookies.length; i++) {
                   const cookie = cookies[i].trim();
                   // Does this cookie string begin with the name we want?
                   if (cookie.substring(0, name.length + 1) === (name + '=')) {
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                       break;
                   }
               }
           }
           return cookieValue;
    }

    async function makePOSTRequest(url,formData){
        const otherPram={
            body:formData,
            method:"POST",
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            mode: "same-origin",
        };

        let response = await fetch(url, otherPram);
        let status = await response.status;
        if (status==200){
            return true;
        }
        else {
            return false;
        }
    }

    async function invite(){
        email = document.getElementById("inviteemail").value;
        const formData = new FormData();
         formData.append('email',email);
        res = await makePOSTRequest("{% url 'chat:invite' %}",formData);
        if (res){

            document.getElementById('primary_toast_msg').innerHTML = `Invitation sent to ${email}`+` <i class="fas fa-envelope"></i>` + toast_btn;
            $('#inviteModal').modal('hide');
            $('#primary_toast').toast('show');
        }
        else{
            document.getElementById('danger_toast_msg').innerHTML = "Some error occured. Please try again"+` <i class="fas fa-exclamation-triangle"></i>` + toast_btn;
            $('#inviteModal').modal('hide');
            $('#danger_toast').toast('show');
        }
    }

    async function makeGETRequest(url){
        let response = await fetch(url);
        let status = await response.status;
        if (status==200){
            return true;
        }
        else if (status==400){
            return false;
        }
        else if(status == 500){
            alert("Some error occured. Please try again");
            return false;
        }
    }

    async function checkLogin(){
        res = await makeGETRequest("{% url 'chat:checkLogin' %}");
        return res;
    }

    async function logout(){
        let res = await makeGETRequest("{% url 'chat:logout' %}")
        if (res){
            window.location = "/";
        }
    }

    function showinvite(grpcode){
        document.getElementById('invitecode').value = grpcode;
        $('#inviteModal').modal('show');

    }

    function reqaction(username,action){
        document.getElementById(`${username}_req`).remove();;
        const formData = new FormData();
         formData.append("code",room_code);
         formData.append("username",username);
         formData.append("action",action);
        const otherPram={
            body:formData,
            method:"POST",
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            mode: "same-origin",
        };

         fetch("{% url 'chat:requestaction' %}", otherPram).then(res=>res.json())
         .then(data=>{

         });

    }

    function enterGroup(){
        val = document.getElementById("mysearchid").value;
        grpName = document.getElementById('inputcode').value;
        verifyMember(val,grpName);
    }

    function verifyMember(val, grpName){

        document.getElementById("cover-spin").style.display = "block";

        fetch('/checkgroup/'+val).then(res=>res.json()).then(data=>{
            if (data.status == "200"){
                startChat(val,grpName);
                document.getElementById("cover-spin").style.display = "none";
                $('#searchModal').modal('hide');
            }
        });
    }

    function searchGroup(){
        roomCode = document.getElementById("mysearchid").value;
        if (roomCode==""){
            alert("Invalid search");
        }
        else{
            fetch("{% url 'chat:getgroupdetails' %}?grpcode="+roomCode).then(res=>res.json())
            .then(data=>{
                document.getElementById("searchModalbody").innerHTML="";
                document.getElementById("searchModalbody").innerHTML+=
                `
                <ul>
                    <li>Name : ${data.name}</li>
                    <li>Owner : ${data.user}</li>
                    <li>Online : ${data.online} members</li>
                    <li>Total : ${data.members}</li>
                </ul>
                `
                $('#searchModal').modal('show');
            });
        }
    }


    function makeGroup(){
        groupName = document.getElementById('groupName').value;
        const formData = new FormData();
         formData.append('groupName', groupName);
         const otherPram={
             body:formData,
             method:"POST",
             headers: {
                 "X-CSRFToken": getCookie("csrftoken")
             },
             mode: "same-origin",
         };
		 $('#createRoomModal').modal('hide');
         fetch("{% url 'chat:newchat' %}", otherPram).then(res=>res.json())
         .then(data=>{

             if (data.status ==200){

                 document.getElementById("chatlist").innerHTML=
                 `<li class="nav-item" align="center" id="${data.room_code}">
	         		<a class="nav-link" onclick="startChat('${data.room_code}','${groupName}');" href="#" style="color:white;"># <u>${groupName}</u> </a>
	         	</li>
                 `+ document.getElementById("chatlist").innerHTML;
                 // show_primary_toast("Group created successfully.");

             }
             else{
                show_danger_toast("Some error occured. Please try again");
             }

         });
    }

    function leavegroup(code){
        // alert("{% url 'chat:leavegroup' %}?roomcode="+code);
		// alert(code);
        stopChat();
        fetch("{% url 'chat:leavegroup' %}?roomcode="+code).then(res=>res.json())
        .then(data=>{
            if (data.status == 200){
                document.getElementById(code).remove();

                show_warning_toast("You have left group successfully.");
            }
            else{
                show_danger_toast("Some error occured. Please try again");
            }

        });
    }

    $("#inputcode").autocomplete({
    source:'{% url 'chat:autocomplete' %}',
    focus: function( event, ui ) {
          $( "#inputcode" ).val( ui.item.label );
             return false;
       },
       select: function( event, ui ) {
          $( "#inputcode" ).val( ui.item.label );
          $( "#mysearchid" ).val( ui.item.value );
          return false;
       }
});


// $( "#inputcode" ).autocomplete( "option", "appendTo", "#searchform" );

  </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
